.footer {
    background-color: rgb(235, 195, 64);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.center {
    position:absolute;
    top: 0; bottom: 0; left: 100; right: 0;
    margin: auto;
    height: 20px;
}

.img {
    height: 1800;
    width: 2880;
}

.start {
    display: none;
}

.stop {
    display: none;
}
